input[type=text], select, textarea {
    width: 100%;
    padding: 18px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 75px;
    resize: vertical;
    background-color: #eaedf2;
}


/*input box*/
input[type=submit] {
    background-color: #eaedf2;
    font-size: 18px;
    color: black;
    padding: 18px 30px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    position: center;
}

input[type=submit]:hover {
    background-color: black;
    font-size: 18px;
    border: 1px solid black;
    color: #cedcdd;
}

.container {
    background-color: #eaedf2;
    font-size: 18px;
    padding: 30px;
}
