input[type=text], select, textarea {
  width: 100%; 
  padding: 18px; 
  border: 1px solid #000; 
  border-radius: 6px;
  box-sizing: border-box;
  margin-top: 8px; 
  margin-bottom: 75px; 
  resize: vertical 
  background-color: #c0c6d1;
}


/*input box*/
input[type=submit] { 
  background-color: white;
  font-size: 18px
  color: black;
  padding: 18px 30;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  position: center;
}

input[type=submit]:hover {
  background-color: black;
  font-size: 18px
  border: 1px solid black;
  color: #fff;
}

.container {
  background-color: white;
  font-size: 18px
  border: 1px solid black;
  padding: 30px;
}
