input[type=text], select, textarea {
  width: 100%; 
  padding: 18px; 
  border: 1px solid #fff; 
  border-radius: 6px;
  box-sizing: border-box;
  margin-top: 8px; 
  margin-bottom: 75px; 
  resize: vertical 
}


/*input box*/
input[type=submit] { 
  background-color: #000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}


.container {
  border-radius: 0px;
  background-color: #dbdde0;
  padding: 30px;
}
