.philosophyparagraph p {
    text-allign: center;
    width: 60em;
    margin: 0 auto;
    max-width: 100%;
    line-height: 1.5;
    line-height: 25pt;
    font-size: 18px;
    font-family: Optima;
}